*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* defines 1rem which was set to 10px instead of 16px so 10px / 16px */
html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@media (min-width: 56.25em) {
  font-size: 56.25%; }

body {
  background-color: #f2f2f2;
  color: #f2f2f2;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.5rem; }

.attribution {
  font-size: 1.1rem;
  text-align: center;
  color: #e38826; }
  .attribution a {
    color: #3e52a3; }

.btn {
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s; }
  .btn--orange {
    background-color: #f2f2f2;
    color: #e38826; }
  .btn--dark-cyan {
    background-color: #f2f2f2;
    color: #006970; }
  .btn--darker-cyan {
    background-color: #f2f2f2;
    color: #004241; }
  .btn:hover {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff; }

.cards {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  align-content: center;
  max-width: 30rem;
  transition: display .5s; }
  @media (min-width: 56.25em) {
    .cards {
      flex-direction: row;
      padding: 7rem;
      max-width: 80%; } }
  .cards .card {
    padding: 4rem;
    color: #ffffff; }
    .cards .card__heading {
      font-family: "Big Shoulders Display", cursive;
      font-size: 3rem;
      text-transform: uppercase;
      margin-bottom: 2rem;
      margin-top: 2rem; }
    .cards .card__details .paragraph {
      color: rgba(255, 255, 255, 0.75);
      font-size: 1.6rem;
      line-height: 2;
      margin-bottom: 2rem; }
    .cards .card--sedans {
      background-color: #e38826;
      border-radius: 1rem 1rem 0 0;
      -webkit-border-radius: 1rem 1rem 0 0;
      -moz-border-radius: 1rem 1rem 0 0;
      -ms-border-radius: 1rem 1rem 0 0;
      -o-border-radius: 1rem 1rem 0 0; }
      @media (min-width: 56.25em) {
        .cards .card--sedans {
          border-radius: 1rem 0 0 1rem;
          -webkit-border-radius: 1rem 0 0 1rem;
          -moz-border-radius: 1rem 0 0 1rem;
          -ms-border-radius: 1rem 0 0 1rem;
          -o-border-radius: 1rem 0 0 1rem; } }
    .cards .card--suvs {
      background-color: #006970; }
    .cards .card--luxury {
      background-color: #004241;
      border-radius: 0 0 1rem 1rem;
      -webkit-border-radius: 0 0 1rem 1rem;
      -moz-border-radius: 0 0 1rem 1rem;
      -ms-border-radius: 0 0 1rem 1rem;
      -o-border-radius: 0 0 1rem 1rem; }
      @media (min-width: 56.25em) {
        .cards .card--luxury {
          border-radius: 0 1rem 1rem 0;
          -webkit-border-radius: 0 1rem 1rem 0;
          -moz-border-radius: 0 1rem 1rem 0;
          -ms-border-radius: 0 1rem 1rem 0;
          -o-border-radius: 0 1rem 1rem 0; } }

.container {
  display: flex;
  justify-content: center; }
