// Primary colors
$orange-color: #e38826;
$dark-cyan-color: #006970;
$darker-cyan-color: #004241;
$attribution-color: #3e52a3;

// paragraphs color
$white-transparent: rgba(255, 255, 255, 0.75);

//(background, headings, buttons)
$light-gray : #f2f2f2;

// fonts
$heading-font: 'Big Shoulders Display', cursive;
$main-font: 'Lexend Deca', sans-serif;
$default-font-size: 1.5rem;
