.btn {
	background-color: #fff;
	height: 3rem;
	width: 9rem;
	font-family: inherit;
	font-size: 0.0625rem;
	border: 2px solid transparent;
	border-radius: 50px;
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;

	&--orange {
		color: $orange-color;
	}

	&--dark-cyan {
		color: $dark-cyan-color;
	}

	&--darker-cyan {
		color: $darker-cyan-color;
	}

	&:hover {
		background-color: transparent;
		color: #fff;
		border: 2px solid #fff;
	}
}
