.btn {
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;

  &--orange {
    background-color: $light-gray;
    color: $orange-color;
    
  }

  &--dark-cyan {
    background-color: $light-gray;
    color: $dark-cyan-color;
    
  }

  &--darker-cyan {
    background-color: $light-gray;
    color: $darker-cyan-color;
  }

  &:hover {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
  }
}