.cards {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	justify-content: center;
	align-content: center;
	max-width: 30rem;
	transition: display .5s;	
	-webkit-transition: display .5s;
	-moz-transition: display .5s;
	-ms-transition: display .5s;
	-o-transition: display .5s;

  @include responsive (tab-landscape) {
		flex-direction: row;
		padding: 7rem;
		max-width: 80%;
	}

	.card {
		padding: 4rem;
		color: #fff;

		&__heading {
			font-family: $heading-font;
			font-size: 3rem;
			text-transform: uppercase;
			margin-bottom: 2rem;
			margin-top: 2rem;
		}

		&__details {
			.paragraph {
				color: $white-transparent;
				font-size: 1.6rem;
				line-height: 2;
				margin-bottom: 2rem;
			}
		}

		&--sedans {
			background-color: $orange-color;
			border-radius: 1rem 1rem 0 0;
			-webkit-border-radius: 1rem 1rem 0 0;
			-moz-border-radius: 1rem 1rem 0 0;
			-ms-border-radius: 1rem 1rem 0 0;
			-o-border-radius: 1rem 1rem 0 0;

			@include responsive (tab-landscape) {
				border-radius: 1rem 0 0 1rem;
				-webkit-border-radius: 1rem 0 0 1rem;
				-moz-border-radius: 1rem 0 0 1rem;
				-ms-border-radius: 1rem 0 0 1rem;
				-o-border-radius: 1rem 0 0 1rem;
			}
		}

		&--suvs {
			background-color: $dark-cyan-color;
		}

		&--luxury {
			background-color: $darker-cyan-color;
			border-radius: 0 0 1rem 1rem;
			-webkit-border-radius: 0 0 1rem 1rem;
			-moz-border-radius: 0 0 1rem 1rem;
			-ms-border-radius: 0 0 1rem 1rem;
			-o-border-radius: 0 0 1rem 1rem;

			@include responsive (tab-landscape) {
				border-radius: 0 1rem 1rem 0;
				-webkit-border-radius: 0 1rem 1rem 0;
				-moz-border-radius: 0 1rem 1rem 0;
				-ms-border-radius: 0 1rem 1rem 0;
				-o-border-radius: 0 1rem 1rem 0;
			}
		}
	}
}
